<spring>
    <spring-boot>
        <module>
            <name>spring-boot-web</name>
            <port>8081</port>
            <description>Building web applications with Spring Boot and Kotlin</description>
        </module>
    </spring-boot>
    <spring-framework></spring-framework>
    <spring-data>
        <spring-data-jdbc></spring-data-jdbc>
        <spring-data-jdbc-extensions></spring-data-jdbc-extensions>
        <spring-data-jpa></spring-data-jpa>
        <spring-data-ldap></spring-data-ldap>
        <spring-data-mongodb></spring-data-mongodb>
        <spring-data-redis></spring-data-redis>
        <spring-data-r2dbc></spring-data-r2dbc>
        <spring-data-rest></spring-data-rest>
        <spring-data-for-apache-cassandra></spring-data-for-apache-cassandra>
        <spring-data-for-apache-geode></spring-data-for-apache-geode>
        <spring-data-for-apache-solr></spring-data-for-apache-solr>
        <spring-data-for-pivotal-gemfire></spring-data-for-pivotal-gemfire>
        <spring-data-couchbase></spring-data-couchbase>
        <spring-data-elasticsearch></spring-data-elasticsearch>
        <spring-data-envers></spring-data-envers>
        <spring-data-neo4j></spring-data-neo4j>
        <spring-for-apache-hadoop></spring-for-apache-hadoop>
    </spring-data>
    <spring-cloud>
        <service-discovery>
            <spring-cloud-netflix></spring-cloud-netflix>
            <spring-cloud-consul></spring-cloud-consul>
            <spring-cloud-zookeeper></spring-cloud-zookeeper>
            <spring-cloud-kubernetes></spring-cloud-kubernetes>
        </service-discovery>
        <api-gateway>
            <spring-cloud-gateway></spring-cloud-gateway>
        </api-gateway>
        <cloud-configuration>
            <spring-cloud-config></spring-cloud-config>
        </cloud-configuration>
        <circuit-breakers>
            <spring-cloud-circuit-breaker></spring-cloud-circuit-breaker>
        </circuit-breakers>
        <tracing>
            <spring-cloud-sleuth></spring-cloud-sleuth>
        </tracing>
        <testing>
            <spring-cloud-contract></spring-cloud-contract>
        </testing>
    </spring-cloud>
    <spring-cloud>
        <spring-cloud-azure></spring-cloud-azure>
        <spring-cloud-alibaba></spring-cloud-alibaba>
        <spring-cloud-for-amazon-web-services></spring-cloud-for-amazon-web-services>
        <spring-cloud-bus></spring-cloud-bus>
        <spring-cloud-cli></spring-cloud-cli>
        <spring-cloud-for-cloud-foundry></spring-cloud-for-cloud-foundry>
        <spring-cloud-cloud-foundry-service-broker></spring-cloud-cloud-foundry-service-broker>
        <spring-cloud-cluster></spring-cloud-cluster>
        <spring-cloud-commons></spring-cloud-commons>
        <spring-cloud-connectors></spring-cloud-connectors>
        <spring-cloud-function></spring-cloud-function>
        <spring-cloud-gcp></spring-cloud-gcp>
        <spring-cloud-open-service-broker></spring-cloud-open-service-broker>
        <spring-cloud-pipelines></spring-cloud-pipelines>
        <spring-cloud-schema-registry></spring-cloud-schema-registry>
        <spring-cloud-security></spring-cloud-security>
        <spring-cloud-skipper></spring-cloud-skipper>
        <spring-cloud-stream></spring-cloud-stream>
        <spring-cloud-stream-applications></spring-cloud-stream-applications>
        <spring-cloud-stream-app-starters></spring-cloud-stream-app-starters>
        <spring-cloud-task></spring-cloud-task>
        <spring-cloud-task-app-starters></spring-cloud-task-app-starters>
        <spring-cloud-valut></spring-cloud-valut>
        <spring-cloud-app-broker></spring-cloud-app-broker>
        <spring-cloud-openfeign></spring-cloud-openfeign>
    </spring-cloud>
    <spring-cloud-data-flow></spring-cloud-data-flow>
    <spring-security>
        <spring-security-kerberos></spring-security-kerberos>
        <spring-security-oauth></spring-security-oauth>
        <spring-security-saml></spring-security-saml>
    </spring-security>
    <spring-session>
        <spring-session-core></spring-session-core>
        <spring-session-data-redis></spring-session-data-redis>
        <spring-session-jdbc></spring-session-jdbc>
        <spring-session-hazelcast></spring-session-hazelcast>
        <spring-session-mongodb></spring-session-mongodb>
        <spring-session-for-apache-geode-and-pivotal-gemfire></spring-session-for-apache-geode-and-pivotal-gemfire>
    </spring-session>
    <spring-integration></spring-integration>
    <spring-hateoas></spring-hateoas>
    <spring-rest-docs></spring-rest-docs>
    <spring-batch></spring-batch>
    <spring-amqp></spring-amqp>
    <spring-for-android></spring-for-android>
    <spring-credhub></spring-credhub>
    <spring-flo></spring-flo>
    <spring-for-apache-kafka></spring-for-apache-kafka>
    <spring-ldap></spring-ldap>
    <spring-mobile></spring-mobile>
    <spring-roo></spring-roo>
    <spring-shell></spring-shell>
    <spring-statemachine></spring-statemachine>
    <spring-valut></spring-valut>
    <spring-web-flow></spring-web-flow>
    <spring-web-services></spring-web-services>
</spring>